<div class="jumbotron text-center">
  <h1>All Scores</h1>
</div>

<% if (success.length > 0) { %>
  <div class="alert alert-success"><%= success %></div>
<% } %>

<table class="table table-bordered table-hovered table-striped">
  <thead>
    <tr>
      <th>Event Name</th>
      <th>Description</th>
      <th>Date</th>
      <th>Course</th>
      <th>Slope</th>
      <th>Rating</th>
      <th>Score</th>
      <th>Front</th>
      <th>Back</th>
      <th></th>
    </tr>
  </thead>

  <tbody>

    <% for (var i = 0; i < events.length; i++) { %>
      <tr>
        <td><%= events[i].name %></td>
        <td><%= events[i].description %></td>
        <td><%= dates[i] %></td>
        <td><%= events[i].course %></td>
        <td><%= events[i].slope %></td>
        <td><%= events[i].rating %></td>
        <td><%= events[i].score %></td>
        <td><%= events[i].front %></td>
        <td><%= events[i].back %></td>
        <td>
          <a href="/events/<%= events[i].slug %>" class="btn btn-sm btn-primary">View</a>
          <a href="/events/<%= events[i].slug %>/edit" class="btn btn-sm btn-primary">Edit</a>
          <a href="/events/<%= events[i].slug %>/delete" class="btn btn-sm btn-danger">Delete</a>
        </td>
      </tr>
    <% } %>

  </tbody>
</table>
